# Orders

âœï¸ **AlÄ±ÅŸtÄ±rma**

BugÃ¼n **sipariÅŸleri** ve bunlara ait **deÄŸerlendirme puanÄ±nÄ± (review score)** inceleyeceÄŸiz.

ğŸ‘‰ AmacÄ±mÄ±z aÅŸaÄŸÄ±daki Ã¶zelliklere sahip bir DataFrame oluÅŸturmaktÄ±r:


| Ã¶zellik_adÄ±  	| tip  	| aÃ§Ä±klama  	|
|:---	|:---:	|:---	|
| `order_id` 	| str 	| sipariÅŸin kimliÄŸi (id) 	|
| `wait_time` 	| float 	| `order_purchase_timestamp` ile `order_delivered_customer_date` arasÄ±ndaki gÃ¼n sayÄ±sÄ± 	|
| `expected_wait_time` 	| float 	| `order_purchase_timestamp` ile `estimated_delivery_date` arasÄ±ndaki beklenen gÃ¼n sayÄ±sÄ± 	|
| `delay_vs_expected` 	| float 	| gerÃ§ek `order_delivered_customer_date` tahmini teslim tarihinden sonra ise iki tarih arasÄ±ndaki gÃ¼n sayÄ±sÄ±nÄ± dÃ¶ndÃ¼rÃ¼r, aksi halde 0 dÃ¶ndÃ¼rÃ¼r 	|
| `order_status` 	| str 	| sipariÅŸin durumu 	|
| `dim_is_five_star` 	| int 	| sipariÅŸ beÅŸ yÄ±ldÄ±z aldÄ±ysa 1, aksi halde 0 	|
| `dim_is_one_star` 	| int 	| sipariÅŸ bir yÄ±ldÄ±z aldÄ±ysa 1, aksi halde 0 	|
| `review_score` 	| int 	| 1 ile 5 arasÄ±nda 	|
| `number_of_items` 	| int 	| sipariÅŸin iÃ§erdiÄŸi toplam Ã¼rÃ¼n sayÄ±sÄ± 	|
| `number_of_sellers` 	| int 	| sipariÅŸte yer alan satÄ±cÄ± sayÄ±sÄ± 	|
| `price` 	| float 	| mÃ¼ÅŸterinin Ã¶dediÄŸi toplam sipariÅŸ fiyatÄ± 	|
| `freight_value` 	| float 	| mÃ¼ÅŸterinin Ã¶dediÄŸi kargo Ã¼creti 	|
| `distance_customer_seller` 	| float 	| mÃ¼ÅŸteri ile satÄ±cÄ± arasÄ±ndaki mesafe (km, isteÄŸe baÄŸlÄ±) 	|  

âš ï¸ AyrÄ±ca "teslim edilmemiÅŸ" sipariÅŸleri filtrelemeliyiz; aksi belirtilmedikÃ§e bunlarÄ± dahil etmeyin, Ã§Ã¼nkÃ¼ potansiyel gecikmeleri hesaplayamayÄ±z.

â“ **Senin gÃ¶revin**: 

- Her bir Ã¶zelliÄŸi `olist/order.py` iÃ§indeki `Order` sÄ±nÄ±fÄ±nda ayrÄ± bir metod olarak uygulayÄ±n
- ArdÄ±ndan, eksiksiz DataFrame'i **`NaN` iÃ§ermeyecek ÅŸekilde** dÃ¶ndÃ¼ren `get_training_data()` metodunu oluÅŸturun.

ğŸ’¡ Ã–nerilen yÃ¶ntem:
- Ã–nce aÅŸaÄŸÄ±daki notebook'u kullanarak kodunuzu adÄ±m adÄ±m yazÄ±p test edin
- Kod mantÄ±ÄŸÄ±nÄ±zdan emin olduktan sonra kodu `order.py` dosyasÄ±na kopyalayÄ±n
- Åimdilik veri iÅŸleme mantÄ±ÄŸÄ±na odaklanÄ±n; veriyi gÃ¶rselleÅŸtirmeyi sonraki alÄ±ÅŸtÄ±rmalarda yapacaÄŸÄ±z

ğŸ”¥ Notebook iÃ§in en iyi uygulamalar (okumanÄ±z zorunludur) ğŸ‘‡

<details>
    <summary>â–¸ <i>tÄ±klayÄ±n</i></summary>

Bundan sonra keÅŸif amaÃ§lÄ± notebook'lar oldukÃ§a uzun olabilir; bu nedenle aÅŸaÄŸÄ±daki ilkeleri takip etmenizi ÅŸiddetle tavsiye ediyoruz:
- Kodunuzu, Notebook her zaman baÅŸtan sona Ã§alÄ±ÅŸtÄ±rÄ±ldÄ±ÄŸÄ±nda Ã§Ã¶kmeden Ã§alÄ±ÅŸacak ÅŸekilde yazÄ±n (Run --> Run All Cells)
- DeÄŸiÅŸken adlarÄ±nÄ± dikkatli seÃ§in
- KÄ±sa sÃ¼reyle kullanÄ±lacak ara adÄ±mlar iÃ§in `tmp` veya `_` gibi geÃ§ici isimler kullanÄ±n
- Notebook boyutunu azaltmak iÃ§in kodunuzu temizleyin ve hÃ¼creleri birleÅŸtirin (`Shift-M`)
- Katlanabilir baÅŸlÄ±klar ve iÃ§erik tablosunu sÄ±kÃ§a kullanÄ±n (bulamazsanÄ±z bir TA'ya danÄ±ÅŸÄ±n)
- AÅŸaÄŸÄ±daki kÄ±sayollarÄ± kullanÄ±n
    - `a` bir hÃ¼cre Ã¼stÃ¼ne ekler
    - `b` bir hÃ¼cre alta ekler
    - `dd` bir hÃ¼creyi siler
    - `esc` ve `ok` tuÅŸlarÄ± ile hÃ¼creler arasÄ± gezinme
    - `Shift-Enter` hÃ¼creyi Ã§alÄ±ÅŸtÄ±rÄ±r ve sonraki hÃ¼creye geÃ§er
    - parantez iÃ§indeyken Ã¶rn. `groupby()` Ã¼zerinde `Shift + Tab` kullanarak dokÃ¼mantasyona bakabilirsiniz. BirkaÃ§ kez tekrar edin, kalÄ±cÄ± olarak aÃ§mak iÃ§in

</details>

In [92]:
# Auto reload imported module every time a jupyter cell is executed (handy for olist.order.py updates)
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [93]:
# Import usual modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [94]:
%matplotlib inline

In [95]:
# Import olist data
from olist.data import Olist
olist = Olist()
data = olist.get_data()

In [96]:
# What datasets do we have access to now ?
data.keys()

dict_keys(['sellers', 'product_category_name_translation', 'orders', 'order_items', 'customers', 'geolocation', 'order_payments', 'order_reviews', 'products'])

In [97]:
orders = data['orders'].copy() # good practice to be sure not to modify your `data` variable

assert(orders.shape == (99441, 8))

## 1. `order.py` dosyasÄ±nÄ± kodlayÄ±n

### a) `get_wait_time`
    â“ AÅŸaÄŸÄ±yÄ± dÃ¶ndÃ¼ren bir DataFrame oluÅŸturun:
           `order_id`, `wait_time`, `expected_wait_time`, `delay_vs_expected`, `order_status`

ğŸ Bu ilk metod iÃ§in aÅŸaÄŸÄ±da size pseudo-kod veriyoruz ğŸ‘‡

> 1. `orders` DataFrame'ini inceleyin
2. DataFrame'i `teslim edilmiÅŸ (delivered)` sipariÅŸler Ã¼zerine filtreleyin
3. `datetime` ile Ã§alÄ±ÅŸmayÄ± dÃ¼zenleyin
    - Python [`datetime`](https://docs.python.org/3/library/datetime.html) nesnelerinin ne olduÄŸunu anlamaya zaman ayÄ±rÄ±n
    - ve tarihleri "string" tipinden `pandas.to_datetime()` kullanarak `pandas.datetime` tipine dÃ¶nÃ¼ÅŸtÃ¼rÃ¼n
4. `order_purchase_timestamp`'tan baÅŸlayarak `wait_time`'Ä± gÃ¼n cinsinden ondalÄ±klÄ± bir sayÄ± olarak hesaplayÄ±n
5. `expected_wait_time`'Ä± `order_purchase_timestamp`'tan baÅŸlayarak gÃ¼n cinsinden hesaplayÄ±n
6. `delay_vs_expected`'i gÃ¼n cinsinden hesaplayÄ±n (sipariÅŸ tahmini teslim tarihinden daha erken teslim edildiyse 0 koyun)
7. Yeni DataFrame'i kontrol edin
8. Kodunuzdan memnun kaldÄ±ÄŸÄ±nÄ±zda, notebook'tan `olist/order.py`'ye dikkatlice kopyalayabilirsiniz
9. Åimdi metodunuzu `orders.py` iÃ§inde Ã§aÄŸÄ±rmayÄ± deneyin
10. Kodunuz muhtemelen hemen Ã§alÄ±ÅŸmayacaktÄ±r
11. `.py` dosyasÄ± iÃ§inde Ã§alÄ±ÅŸacak ÅŸekilde gerekli deÄŸiÅŸiklikleri yapÄ±n

`wait_time`, `expected_wait_time` ve `delay_vs_expected`'in tam sayÄ± deÄŸil ondalÄ±klÄ± gÃ¼n cinsinden olmasÄ±nÄ± istiyoruz. DÃ¼ÅŸÃ¼nÃ¼n: 8.1 veya 8.9 gÃ¼nlÃ¼k bir bekleme bÃ¼yÃ¼k fark yaratÄ±r. Bu yÃ¼zden Pandas'Ä±n `dt.day` Ã¶zelliklerini kullanmayÄ±n; Ã§Ã¼nkÃ¼ bu deÄŸerleri aÅŸaÄŸÄ± yuvarlar.

<details>
    <summary>ğŸ’¡Ä°pucu</summary>

Hem `wait_time` hem de `delay_vs_expected` iÃ§in ilgili tarihler arasÄ±ndaki farkÄ± almak Ã¼zere tarihleri Ã§Ä±karmanÄ±z gerekir. ArdÄ±ndan bu farkÄ±n kaÃ§ gÃ¼nÃ¼ temsil ettiÄŸini bulmak iÃ§in ya [`datetime.timedelta()`](https://docs.python.org/3/library/datetime.html#timedelta-objects) ya da [`np.timedelta64()`](https://numpy.org/doc/stable/reference/arrays.datetime.html#datetime-and-timedelta-arithmetic) kullanabilirsiniz!

</details>

In [98]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [99]:
orders["order_status"].value_counts()

order_status
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: count, dtype: int64

In [100]:
# to view only delivered orders:
orders_delivered = orders[orders["order_status"] == "delivered"]
orders_delivered.shape

(96478, 8)

In [101]:
orders_delivered[["order_purchase_timestamp", "order_approved_at", "order_delivered_carrier_date", "order_delivered_customer_date", "order_estimated_delivery_date"]].apply(pd.to_datetime)

,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26
...,...,...,...,...,...
99436,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28
99437,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02
99438,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27
99439,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15
99440,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03

In [102]:
wait_time = (pd.to_datetime(orders_delivered["order_delivered_customer_date"]) - 
             pd.to_datetime(orders_delivered["order_purchase_timestamp"])) / np.timedelta64(1, "D")

wait_time = np.round(wait_time, 2)
wait_time

0         8.44
1        13.78
2         9.39
3        13.21
4         2.87
         ...
99436     8.22
99437    22.19
99438    24.86
99439    17.09
99440     7.67
Length: 96478, dtype: float64

In [103]:
expected_wait_time = (pd.to_datetime(orders_delivered["order_estimated_delivery_date"]) - 
                      pd.to_datetime(orders_delivered["order_purchase_timestamp"])) / np.timedelta64(1, "D")

expected_wait_time = np.round(expected_wait_time, 2)
expected_wait_time

0        15.54
1        19.14
2        26.64
3        26.19
4        12.11
         ...
99436    18.59
99437    23.46
99438    30.38
99439    37.11
99440    25.13
Length: 96478, dtype: float64

In [104]:
delay_vs_expected = wait_time - expected_wait_time
delay_vs_expected = np.maximum(delay_vs_expected, 0)  # consider only positive delays
delay_vs_expected

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
99436    0.0
99437    0.0
99438    0.0
99439    0.0
99440    0.0
Length: 96478, dtype: float64

ğŸ‘€ OluÅŸturduÄŸunuz DataFrame'i kontrol edin.  

ğŸ’ª Kodunuz Ã§alÄ±ÅŸtÄ±ÄŸÄ±nda, kodunuzu `olist/order.py` iÃ§ine taÅŸÄ±yÄ±n  

ğŸ§ª Åimdi aÅŸaÄŸÄ±daki hÃ¼creyi Ã§alÄ±ÅŸtÄ±rarak test edin ğŸ‘‡

In [105]:
# Test your code here
from olist.order import Order
Order().get_wait_time()

,order_id,wait_time,expected_wait_time,delay_vs_expected,order_status
0,e481f51cbdc54678b7cc49136f2d6af7,8.44,15.54,0.0,delivered
1,53cdb2fc8bc7dce0b6741e2150273451,13.78,19.14,0.0,delivered
2,47770eb9100c2d0c44946d9cf07ec65d,9.39,26.64,0.0,delivered
3,949d5b44dbf5de918fe9c16f97b45f8a,13.21,26.19,0.0,delivered
4,ad21c59c0840e6cb83a9ceb5573f8159,2.87,12.11,0.0,delivered
...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,8.22,18.59,0.0,delivered
99437,63943bddc261676b46f01ca7ac2f7bd8,22.19,23.46,0.0,delivered
99438,83c1379a015df1e13d02aae0204711ab,24.86,30.38,0.0,delivered
99439,11c177c8e97725db2631073c19f07b62,17.09,37.11,0.0,delivered
99440,66dea50a8b16d9b4dee7af250b4be1a5,7.67,25.13,0.0,delivered

In [106]:
from nbresult import ChallengeResult
test = Order().get_wait_time()
result = ChallengeResult('wait_time', dve_type=test["delay_vs_expected"].dtype, shape=test.shape, dve_min=test["delay_vs_expected"].min(), dve_max=test["delay_vs_expected"].max())
result.write(); print(result.check())

âš ï¸ `order.py` iÃ§indeki deÄŸiÅŸiklikleri `olist` deposuna commit etmeyi unutmayÄ±n!

### b) `get_review_score`
     â“ AÅŸaÄŸÄ±yÄ± dÃ¶ndÃ¼ren bir DataFrame oluÅŸturun:
        `order_id`, `dim_is_five_star`, `dim_is_one_star`, `review_score`

`dim_is_$N$_star` sÃ¼tunu `review_score=$N$` ise `1`, deÄŸilse `0` iÃ§ermelidir

<details>
    <summary markdown='span'>Ä°puÃ§larÄ±</summary>

`Series.map()` veya `DataFrame.apply()` Ã¼zerine dÃ¼ÅŸÃ¼nÃ¼n
    
</details>

ğŸ‘‰ We load the `reviews` for you

In [107]:
reviews = data['order_reviews'].copy()
assert(reviews.shape == (99224,7))
reviews

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,ParabÃ©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rÃ¡pida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [108]:
dim_is_five_star = reviews["review_score"].apply(lambda x: 1 if x == 5 else 0)
dim_is_one_star = reviews["review_score"].apply(lambda x: 1 if x == 1 else 0)

reviews["dim_is_five_star"] = dim_is_five_star
reviews["dim_is_one_star"] = dim_is_one_star

get_review_score = reviews[["order_id", "dim_is_five_star", "dim_is_one_star", "review_score"]]
get_review_score

,order_id,dim_is_five_star,dim_is_one_star,review_score
0,73fc7af87114b39712e6da79b0a377eb,0,0,4
1,a548910a1c6147796b98fdf73dbeba33,1,0,5
2,f9e4b658b201a9f2ecdecbb34bed034b,1,0,5
3,658677c97b385a9be170737859d3511b,1,0,5
4,8e6bfb81e283fa7e4f11123a3fb894f1,1,0,5
...,...,...,...,...
99219,2a8c23fee101d4d5662fa670396eb8da,1,0,5
99220,22ec9f0669f784db00fa86d035cf8602,1,0,5
99221,55d4004744368f5571d1f590031933e4,1,0,5
99222,7725825d039fc1f0ceb7635e3f7d9206,0,0,4
99223,90531360ecb1eec2a1fbb265a0db0508,0,1,1

Yine,

ğŸ‘€ OluÅŸturduÄŸunuz DataFrame'i kontrol edin.  

ğŸ’ª Kodunuz Ã§alÄ±ÅŸtÄ±ÄŸÄ±nda, kodunuzu `olist/order.py` iÃ§ine taÅŸÄ±yÄ±n  

ğŸ§ª Åimdi aÅŸaÄŸÄ±daki hÃ¼creyi Ã§alÄ±ÅŸtÄ±rarak test edin ğŸ‘‡

In [109]:
# Test your code here
from olist.order import Order
Order().get_review_score()

,order_id,dim_is_five_star,dim_is_one_star,review_score
0,73fc7af87114b39712e6da79b0a377eb,0,0,4
1,a548910a1c6147796b98fdf73dbeba33,1,0,5
2,f9e4b658b201a9f2ecdecbb34bed034b,1,0,5
3,658677c97b385a9be170737859d3511b,1,0,5
4,8e6bfb81e283fa7e4f11123a3fb894f1,1,0,5
...,...,...,...,...
99219,2a8c23fee101d4d5662fa670396eb8da,1,0,5
99220,22ec9f0669f784db00fa86d035cf8602,1,0,5
99221,55d4004744368f5571d1f590031933e4,1,0,5
99222,7725825d039fc1f0ceb7635e3f7d9206,0,0,4
99223,90531360ecb1eec2a1fbb265a0db0508,0,1,1

In [110]:
from nbresult import ChallengeResult
result = ChallengeResult('review_score', shape=Order().get_review_score().shape)
result.write(); print(result.check())

âš ï¸ `order.py` iÃ§indeki deÄŸiÅŸiklikleri `olist` deposuna commit etmeyi unutmayÄ±n!

### c) `get_number_items`:
     â“ AÅŸaÄŸÄ±yÄ± dÃ¶ndÃ¼ren bir DataFrame oluÅŸturun:
        `order_id`, `number_of_items` (her sipariÅŸ iÃ§in toplam Ã¼rÃ¼n sayÄ±sÄ±)

In [111]:
get_number_items = (
    order_items.groupby("order_id")
    .size()
    .reset_index(name="number_of_items")
)

get_number_items

                               order_id  number_of_items
0      00010242fe8c5a6d1ba2dd792cb16214                1
1      00018f77f2f0320c557190d7a144bdd3                1
2      000229ec398224ef6ca0657da4fc703e                1
3      00024acbcdf0a6daa1e931b038114c75                1
4      00042b26cf59d7ce69dfabb4e55b4fd9                1
...                                 ...              ...
98661  fffc94f6ce00a00581880bf54a75a037                1
98662  fffcd46ef2263f404302a634eb57f7eb                1
98663  fffce4705a9662cd70adb13d4a31832d                1
98664  fffe18544ffabc95dfada21779c9644f                1
98665  fffe41c64501cc87c801fd61db3f6244                1

[98666 rows x 2 columns]

ğŸ§ª AynÄ± rutin:
* DataFrame'inizi kontrol edin,
* Kodunuzu `olist/order.py` iÃ§ine taÅŸÄ±yÄ±n
* ve gerÃ§ekten Ã§alÄ±ÅŸtÄ±ÄŸÄ±nÄ± doÄŸrulayÄ±n.

In [112]:
from nbresult import ChallengeResult
result = ChallengeResult('number_items',
                         shape=Order().get_number_items().shape,
                         columns=Order().get_number_items().columns)
result.write(); print(result.check())

âš ï¸ `order.py` iÃ§indeki deÄŸiÅŸiklikleri `olist` deposuna commit etmeyi unutmayÄ±n!

### d) `get_number_sellers`:
     â“ AÅŸaÄŸÄ±yÄ± dÃ¶ndÃ¼ren bir DataFrame oluÅŸturun:
        `order_id`, `number_of_sellers` (her sipariÅŸ iÃ§in benzersiz satÄ±cÄ± sayÄ±sÄ±)
        
<details>
    <summary>â–¸ <i>Ä°pucu</i></summary>

`pd.Series.nunique()` metoduna bakÄ±n
</details>

In [113]:
get_number_sellers = \
    data['order_items']\
    .groupby('order_id')['seller_id'].nunique().reset_index()

get_number_sellers.columns = ['order_id', 'number_of_sellers']
get_number_sellers.sort_values('number_of_sellers')

get_number_sellers

                               order_id  number_of_sellers
0      00010242fe8c5a6d1ba2dd792cb16214                  1
1      00018f77f2f0320c557190d7a144bdd3                  1
2      000229ec398224ef6ca0657da4fc703e                  1
3      00024acbcdf0a6daa1e931b038114c75                  1
4      00042b26cf59d7ce69dfabb4e55b4fd9                  1
...                                 ...                ...
98661  fffc94f6ce00a00581880bf54a75a037                  1
98662  fffcd46ef2263f404302a634eb57f7eb                  1
98663  fffce4705a9662cd70adb13d4a31832d                  1
98664  fffe18544ffabc95dfada21779c9644f                  1
98665  fffe41c64501cc87c801fd61db3f6244                  1

[98666 rows x 2 columns]

In [114]:
from nbresult import ChallengeResult
result = ChallengeResult('number_sellers',
                         shape=Order().get_number_sellers().shape,
                         columns=Order().get_number_sellers().columns)
result.write(); print(result.check())

âš ï¸ `order.py` iÃ§indeki deÄŸiÅŸiklikleri `olist` deposuna commit etmeyi unutmayÄ±n!

### e) `get_price_and_freight`
     AÅŸaÄŸÄ±yÄ± dÃ¶ndÃ¼ren bir DataFrame oluÅŸturun:
        `order_id`, `price`, `freight_value`

In [115]:
get_price_and_freight = \
    data['order_items']\
    .groupby('order_id').agg(
        price=('price', 'sum'),
        freight_value=('freight_value', 'sum')
    ).reset_index()

get_price_and_freight

                               order_id   price  freight_value
0      00010242fe8c5a6d1ba2dd792cb16214   58.90          13.29
1      00018f77f2f0320c557190d7a144bdd3  239.90          19.93
2      000229ec398224ef6ca0657da4fc703e  199.00          17.87
3      00024acbcdf0a6daa1e931b038114c75   12.99          12.79
4      00042b26cf59d7ce69dfabb4e55b4fd9  199.90          18.14
...                                 ...     ...            ...
98661  fffc94f6ce00a00581880bf54a75a037  299.99          43.41
98662  fffcd46ef2263f404302a634eb57f7eb  350.00          36.53
98663  fffce4705a9662cd70adb13d4a31832d   99.90          16.95
98664  fffe18544ffabc95dfada21779c9644f   55.99           8.72
98665  fffe41c64501cc87c801fd61db3f6244   43.00          12.79

[98666 rows x 3 columns]

In [116]:
from nbresult import ChallengeResult
result = ChallengeResult('price', shape=Order().get_price_and_freight().shape)
result.write(); print(result.check())

âš ï¸ `order.py` iÃ§indeki deÄŸiÅŸiklikleri `olist` deposuna commit etmeyi unutmayÄ±n!

## 2. Hepsini bir arada: `get_training_data`

â“ Daha Ã¶nce kodladÄ±ÄŸÄ±nÄ±z metodlarÄ± kullanarak `get_training_data` metodunu yazma zamanÄ±; tÃ¼m sipariÅŸ Ã¶zelliklerini tek bir tabloda toplayÄ±n.

In [125]:
from olist.order import Order
order = Order()

# If your Order.get_wait_time() takes no arguments:
get_training_data = (
    order.get_wait_time()
         .merge(order.get_review_score(), on="order_id")
         .merge(order.get_number_items(), on="order_id")
         .merge(order.get_number_sellers(), on="order_id")
         .merge(order.get_price_and_freight(), on="order_id")
).dropna().reset_index(drop=True)

# If get_wait_time expects the delivered-orders DataFrame, pass it:
# orders_delivered = orders[orders["order_status"] == "delivered"].copy()
# get_training_data = (
#     order.get_wait_time(orders_delivered)
#          .merge(order.get_review_score(), on="order_id")
#          ...
# ).dropna().reset_index(drop=True)
# ...existing code...

ğŸ§ª AÅŸaÄŸÄ±da test edin

In [126]:
from nbresult import ChallengeResult
from olist.order import Order
data = Order().get_training_data()

result = ChallengeResult('training',
    shape=data.shape,
    columns=sorted(list(data.columns))
)
result.write()
print(result.check())

ğŸ’¡ **Beklenen satÄ±r sayÄ±sÄ±nÄ± elde edemiyor musunuz?**
<details><summary>8 satÄ±rlÄ±k bir fark mÄ± var?</summary>
SonuÃ§ta `NaN` iÃ§ermeyen bir DataFrame istiyoruz. `NaN`'larÄ± kaldÄ±rmayÄ± deneyin. (Ã‡ok karmaÅŸÄ±k hale getirmeyin: genelde kodunuzda bir satÄ±rÄ± deÄŸiÅŸtirmeniz yeterlidir.)
</details>
<details><summary>BaÅŸka bir fark mÄ± var?</summary>
Belki tÃ¼m adÄ±mlarÄ± tek bir DataFrame'de birleÅŸtirirken bir ÅŸey yanlÄ±ÅŸ gitmiÅŸtir? BirleÅŸtirmelerinizi (merge) kontrol edin.
</details>

ğŸ Tebrikler! 

ğŸ’¾ Notebook'unuzu ve `olist/order.py` iÃ§indeki kodunuzu commit edip pushlayÄ±n, sonra sonraki alÄ±ÅŸtÄ±rmaya geÃ§in.